
<dialog id="modal">        
    <h5>Atención!!</h5>
    <p>¿Está seguro que desea eliminar el registro?</p>
    <div>
        <button type="button" class="btn btn-secondary cancelar">Cancelar</button>
        <button type="button" class="btn btn-primary confirmar">Confirmar</button>
    </div>        
</dialog>

